<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm" style="height: 56px">

  <div class="container-fluid mx-4">
    <form class="d-flex gap-2 align-items-center" role="search">
      <input
        class="form-control col-1"
        type="text"
        placeholder="Find a book"
        aria-label="Search"
      />
      <button class="btn search-btn" type="submit" title="Search">
        <i class="fas fa-search"></i>
      </button>
    </form>
    <div class="d-flex justify-content-end align-items-center">
      <div class="dropdown">
        <a class="d-flex align-items-center text-decoration-none text-black dropdown-toggle" id="dropdownUser1"
           data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user-circle fa-2x me-2"></i>
          <strong class="text-black">{{ username }}</strong>
        </a>
        <ul class="dropdown-menu bg-body-tertiary dropdown-menu-end text-small shadow"
            aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" (click)="accountManagement()" title="Sign out">Manage account</a></li>
          <li><a class="dropdown-item" (click)="logout()" title="Sign out">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
