<h3 class="mt-4 mx-4 fw-bold">My borrowed books</h3>
<hr/>
<div class="container d-flex justify-content-center flex-column col-12 col-lg-6" *ngIf="selectedBook">
  <h4 class="mt-2 mx-4 fw-bold">Return and share feedback</h4>
  <div class="d-flex justify-content-center m-4">
    <div class="d-flex flex-column col-12">
      <div class="d-flex pb-1">
        <div class="col-2">
          <strong>Title</strong>
        </div>
        <div class="col-10">
          {{ selectedBook.title }}
        </div>
      </div>
      <div class="d-flex pb-1">
        <div class="col-2">
          <strong>Author</strong>
        </div>
        <div class="col-10">
          {{ selectedBook.author }}
        </div>
      </div>
      <div class="d-flex pb-1">
        <div class="col-2">
          <strong>ISBN</strong>
        </div>
        <div class="col-10">
          {{ selectedBook.isbn }}
        </div>
      </div>
      <div class="d-flex pb-1">
        <div class="col-2">
          <strong>Rate</strong>
        </div>
        <div class="col-10">
          {{ selectedBook.rating }}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mx-4">
    <div class="col-12">
      <form class="row g-3">
        <div class="col-12">
          <label for="comment" class="fw-bold pb-1">Leave a review</label>
          <app-rating
            [rating]="feedbackRequest.rating || 0"
            [ratingEnabled]="true"
            (ratingChange)="feedbackRequest.rating = $event"
          ></app-rating>
          <textarea [(ngModel)]="feedbackRequest.comment" rows="4" class="form-control mt-2" id="comment"
                    name="comment" placeholder="Add a comment (optional)"></textarea>
        </div>
        <div class="d-flex justify-content-end gap-2 col-12">
          <button (click)="returnBook()" type="submit" class="btn btn-outline-black">
            <i class="fas fa-save"></i> Return the book
          </button>
          <a routerLink="/books/my-books" type="submit" class="btn btn-secondary">
            <i class="fas fa-times"></i> Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="!selectedBook">
  <div class="d-flex justify-content-center m-4">
    <div class="col-12 col-lg-10">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="text-center min-width"></th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">ISBN</th>
          <th scope="col" class="text-center min-width">Rate</th>
          <th scope="col" class="text-center min-width">Returned</th>
          <th scope="col" class="text-center min-width">Approved</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let book of borrowedBooks.content; let index = index">
          <th scope="row">{{ index + 1 }}</th>
          <td class="text-center">
            <button *ngIf="!book.returned" (click)="returnBorrowedBook(book)" type="submit"
                    class="btn btn-outline-black" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Return this book">
              <i class="fas fa-arrow-left"></i> Return
            </button>
          </td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.isbn }}</td>
          <td>
            <i class="fas fa-star text-warning"></i>
            <span class="fw-bold"> {{ book.rating }}</span>
          </td>
          <td class="text-center">
            <i *ngIf="book.returned" class="fa-solid fa-circle-check text-success" data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="The book has been returned"></i>
          </td>
          <td class="text-center">
            <i *ngIf="book.returnedApproved" class="fa-solid fa-circle-check text-success" data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="The return has been approved"></i>
            <i *ngIf="book.returned && !book.returnedApproved" class="fas fa-hourglass-half" data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="The approval for the returned book is still pending"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            (click)="goToFirstPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="First page"
            [class.disabled]="page == 0"
          >
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToPreviousPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.disabled]="page == 0"
          >
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>
        <li
          class="page-item"
          *ngFor="let pageIndex of pages"
        >
          <a
            (click)="goToPage(pageIndex)"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Current page"
            [class.active]="page === pageIndex"
          >
            {{ pageIndex + 1 }}
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToNextPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Next"
            [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-angle-right"></i>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToLastPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Last page"
            [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
