<div class="container-fluid card login-container">
  <h3 class="text-center">Sign in</h3>
  <hr/>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length">
    <p *ngFor="let message of errorMessage">{{ message }}</p>
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Email address</label>
    <input
      [(ngModel)]="authRequest.email"
      id="login"
      type="email"
      class="form-control"
      placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <div class="password-container">
      <input
        [(ngModel)]="authRequest.password"
        id="password"
        type="{{ showPassword ? 'text' : 'password' }}"
        class="form-control">
      <button
        type="button"
        (click)="togglePasswordVisibility()"
        aria-label="Toggle password visibility"
      >
        <i [ngClass]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="login()" type="button" class="btn btn-black">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
           class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
        <path fill-rule="evenodd"
              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
      </svg>
      &nbsp;Sign in
    </button>
    <div>
      <div class="d-flex justify-content-end mb-3">
        <div>
          New to Bookhub?&nbsp;
          <button (click)="register()" type="button" class="btn btn-link">
            Create an account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
