@import "variables";

.active {
  background-color: $active-bg-color;
  border-color: $active-border-color;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 135, 0.25);
  outline: 0;
}

a {
  border: none;
  color: $hover-color;

  &:hover {
    color: $hover-color;
  }

  &.active {
    color: white;

    &:hover {
      color: white;
    }
  }
}

.alert {
  width: fit-content;
  height: auto;
}
